<%- include("./partials/header") -%>

<div class="modal-body">
    <form method="POST" action="/compose">
        <div class="form-group">
            <label for="postTitle">Title</label>
            <input type="text" name="postTitle" class="form-control"/>
        </div>               
        <div class="form-group">
        <label for="postBody">Post</label>
        <textarea name="postBody" class="form-control" rows="10"></textarea>
        </div>
        
        <button class="btn btn-info btn-block" type="submit">Publish</button>
    </form>
</div>

<%- include("./partials/footer") -%>
